h1.logo {
    color: #558B2F;
    font-size: 60px;
}

 .btn-default {
    background-color: #558B2F;
    color: #fff;
    width: 70px;   
    font-size: 15px;
    height: 37px;
    margin: auto;
    text-align: center;
    border-radius: 13px;
}

#nav-search {
float: right;
}

.search {
    width: 246px;
    height: 37px;
    border-radius: 13px;
    border: 1px  #558B2F solid;
    padding: 5px 5px 5px 25px;
    margin-right: 5px;
}

.btn-default:hover {
	background-color: #33691E;
    color: #fff; 
}

