   .media-buttons {
		font-size: 21px;
	}

	.media-buttons div {
		display: inline-block;
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background-color: #558B2F;
		text-align: center;
		margin-top: 10px;

	}

	.media-buttons i {
		align-self: center;
		color: #fff;
		margin-top: 5px;
		margin: 0.30rem;
	}